.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
nav {
   position: relative;
}
.mobile_nav {
   height: auto;
}
.show {
   display: block;
}
.hide {
   display: none;
}
.mobile_nav li {
   float: none;
}
.mobile_nav {
   background-color: #ee6e73;
}
.nav-wrapper {
   max-width: 1200px;
   margin: 0 auto;
}
.brand-logo {
   left: 1rem;
}
.checkbox {
   text-align: left;
   padding-left: 1rem;
}
.collection-item {
   display: flex;
   justify-content: space-between;
}
.collection-item p {
   display: inline-block;
}
.deleteButton {
   color: red;
   cursor: pointer;
}
.deleteButton:hover {
   text-decoration: underline;
}
.collection .collection-item {
   padding: 0px 20px;
}
.completed {
   text-decoration: line-through;
}
.row .col {
   margin: 0 auto;
   float: none;
}
.card-content {
   display: flex;
}
.likeIcon {
   position: relative;
   display: flex;
   align-items: center;
}
.material-icons {
   margin: 0 5px 0 15px;
}
.likeCount {
   font-weight: bold;
}